<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<table>
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.emailAddress}"></td>
    </tr>
</table>
</body>
</html>